@import url("https://use.typekit.net/qsx4xra.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "edu-nsw-act-hand-cursive", cursive;
    font-weight: 100;
}

body {
    font-family: "Raleway", sans-serif;
    background: #fcfcfc;
    margin: 0;
}

header {
    background: url(../images/fern.jpg) no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    position: relative;
}

section {
    background-color: #f7f7f7;
    outline: solid 1px #000;
    outline-offset: -20px;
    padding: 6rem;
    z-index: 1;
}

nav {
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #656565;
    text-transform: uppercase;
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 2em;
    letter-spacing: 0.1em;
}

a {
    color: #656565;
    padding: 0 20px;
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: #656565;
}

a:hover {
    color: #000;
}

a:active {
    color: #000;
}

p {
    font-size: 1rem;
    line-height: 2;
    margin: 1em 0;
}

main {
    margin: 0em auto;
    padding: 5em 0;
    max-width: 60vw;
}

aside img {
    width: 100%;
}

.flex {
    display: flex;
}

.scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: bounce 2s ease-in-out infinite;
}

.arrow {
    border: solid #f7f7f7;
    display: inline-block;
    border-width: 0 3px 3px 0;
    padding: 6px;
    transform: rotate(45deg);
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 10px);
    }
}